* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    width: 100%;
    min-height: 100vh;
}

#container-1 {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: table;
    z-index: 10;
    position: absolute;
}

.menu {
    float: left;
    padding: 1.8rem 0 0 0.8rem;
}

.logo {
    float: left;
    padding-left: 3rem;
    padding-top: 0.5rem;

}

.logo-image {
    width: 50px;
}

.rede-sociais {
    float: right;
    margin: 1.2rem;
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
}

.insta {
    width: 1.5rem;
}

.face {
    width: 0.7rem;
}

.tel,
.email {
    width: 1.2rem;
}

.pesquisa {
    width: 80%;
    padding: 0.3rem;
    background-image: url(../assets/lupa.png);
    background-repeat: no-repeat;
    background-position: 98%;
    font-size: 1rem;
    border: 2px solid gray;
}
.pesquisa:focus {
    outline: 2px solid gray;
}
.pesquisa:focus::placeholder {
    opacity: 0;
}
.perfil {
    
}
